<section class="main">
    <img [src]="videoData?.snippet?.thumbnails?.maxres?.url" alt="image" class="main__img">
    <div class="main__info">
        <div class="main__info_title">
            <h2>{{videoData?.snippet?.title}}</h2>
            <p>{{time}}</p>
            <div class="main__scroll">
                <p class="main__info_descr">Description :</p>
                <p>{{videoData?.snippet?.description}}</p>
             </div>
        </div>
         
        
         <app-statistics [statistics] = 'videoData?.statistics'></app-statistics> 
         <div class="main__bottom_line" [appColor]="videoData?.snippet?.publishedAt"></div>
    </div>
    <button type="button" mat-raised-button color="primary" class="main__btn" (click)="goToMain()"><mat-icon>label_important</mat-icon></button>
</section>
