   <div class="filter" *ngIf="show">
      <p class="filter__title">Sort by : </p>
        <button type="button" mat-stroked-button color="primary" (click)="sortBy('like')">
            Likes
            <mat-icon>{{like ? 'trending_up' : 'trending_down'}}</mat-icon>
        </button>
        <button type="button" mat-stroked-button color="primary" (click)="sortBy('views')">
            Views
            <mat-icon width="5">{{views ? 'trending_up' : 'trending_down'}}</mat-icon> 
        </button>
        <button type="button" mat-stroked-button color="primary" (click)="sortBy('date')">
            Date
            <mat-icon>{{date ? 'trending_up' : 'trending_down'}}</mat-icon>
        </button>
        <div class="filter__inp">
            <button type="button" mat-stroked-button color="primary" (click)="filterCards(inputValue)">By word</button> 
            <input matInput [(ngModel)]="inputValue" class="filter__input">
            
        </div>

     
    </div>
